//colors
$pink: #d3135a;
$black: #000000;
$grey: #4d4d4d;
$blue: #0071bc;

//breakpoints
$BR-LL: 1440px;
$BR-C: 1147px;
$BR-L: 1024px;
$BR-I: 991px;
$BR-T: 768px;
$BR-ML: 425px;
$BR-MM: 375px;
$BR-MS: 320px;

html, body {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  font-family: "Trebuchet MS", "TrebuchetMS", Tahoma, sans-serif;
  background-color: #e6e6e6;
}

//fonts
@font-face { font-family: 'TrebuchetMS';
  src: url('/assets/fonts/TrebuchetMS/TrebuchetMS.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/TrebuchetMS/TrebuchetMS.woff') format('woff'),
  url('/assets/fonts/TrebuchetMS/TrebuchetMS.ttf') format('truetype'),
  url('/assets/fonts/TrebuchetMS/TrebuchetMS.svg#TrebuchetMS')
  format('svg'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'TNR-Bold';
  src: url('/assets/fonts/TNR-Bold/TimesNewRomanPS-BoldMT.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/TNR-Bold/TimesNewRomanPS-BoldMT.woff') format('woff'),
  url('/assets/fonts/TNR-Bold/TimesNewRomanPS-BoldMT.ttf') format('truetype'),
  url('/assets/fonts/TNR-Bold/TimesNewRomanPS-BoldMT.svg#TimesNewRomanPS-BoldMT') format('svg');
  font-weight: bold; font-style: normal; }