header {
  width: 100%;
  background-color: $pink;
  padding: 25px 0 20px;
  @include breakpoint(max-width $BR-L) {
    padding: 25px 0 20px;
  }

  .menu-up {
    top: 25px;
    right: 20px;
    width: 1147px;
    @include breakpoint(max-width $BR-C) {
      width: 100%;
    }
    padding: 0 70px;
    @include breakpoint(max-width $BR-L) {
      padding: 0 20px;
    }
    margin: auto;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      flex-wrap: wrap;
      li {
        padding-left: 15px;
        font-size: 14px;
        a {
          white-space: nowrap;
          color: black;
        }
      }
    }
  }

  nav {
    position: relative;
    height: 72px;
    width: 1147px;
    @include breakpoint(max-width $BR-C) {
      width: 100%;
    }
    padding: 0 70px;
    @include breakpoint(max-width $BR-L) {
      padding: 0 20px;
    }
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    .logo {
      line-height: 50px;
      min-height: 50px;
      font-size: 59.63px;
      font-weight: bold;
      @include breakpoint(max-width $BR-ML) {
        font-size: 42px;
        line-height: 40px;
        min-height: 40px;
      }
      a {
        color: $logo-color;
      }
    }
    .menu {
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      .menu-down {
        padding-bottom: 1px;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-right: -10px;
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          transition: opacity .3s ease !important;
        }
         @include breakpoint(max-width 767px) {
          opacity: 0;
          visibility: hidden;
          flex-direction: column;
          align-items: flex-end;
          position: absolute;
          top: calc(100% + 0px);
          right: calc(0% - 10px);
          background-color: $pink;
        }
        .dropdown-container {
          position: relative;
          .dropbtn {
            z-index: 5;
            margin: 0 10px;
            cursor: pointer;
            background-color: transparent;
            color: white;
            font-size: 20px;
            line-height: 1;
            white-space: nowrap;
            @include breakpoint(max-width 767px) {
              padding: 10px 0;
            }
            transition: color .3s ease;
          }

          .dropdown-content {
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease;
            top: calc(100% + 0px);
            @include breakpoint(max-width 767px) {
              transition: opacity 0.3s ease;
            }
            @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
              transition: opacity .3s ease;
            }
            position: absolute;
            background-color: $grey;
            color: white;
            z-index: 1;
            left: 50%;
            transform: translateX(-50%);
            @include breakpoint(max-width 767px) {
              transform: translateX(-100%);
              left: calc(0 - 10px);
              top: calc(0 + 12px);
            }

            &:before {
              z-index: -1;
              position: absolute;
              content: "";
              display: block;
              width: 14px;
              height: 14px;
              background-color: $grey;
              top: -7px;
              left: calc(50% - 7px);
              transform: rotate(45deg);
              @include breakpoint(max-width 767px) {
                transform: rotate(45deg);
                left: calc(100% - 7px);
                top: calc(0 + 3px);
              }
            }
            a {
              color: white;
              padding: 7.5px 12px;
              display: inline-block;
              white-space: nowrap;
              width: 100%;
              &:hover {
                background-color: $light-grey;
              }
            }
          }
          .show {
            opacity: 1;
            visibility: visible;
            top: calc(100% + 13px);
            @include breakpoint(max-width 767px) {
              top: calc(100% - 29px);
            }
          }
          .move {
            transform: none;
            left: 0;
            width: 100%;
            a {
              white-space: normal;
            }
          }
        }
        &.show {
          top: calc(100% + 10px);
          opacity: 1;
          visibility: visible;
        }
      }

      #nav-icon {
        display: none;
        position: absolute;
        bottom: 2px;
        right: 0;
        width: 30px;
        height: 30px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        @include breakpoint(max-width 767px) {
          display: block;
        }
      }

      #nav-icon span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: white;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
      }

      #nav-icon span:nth-child(1) {
        top: 0px;
      }

      #nav-icon span:nth-child(2), #nav-icon span:nth-child(3) {
        top: 12px;
      }

      #nav-icon span:nth-child(4) {
        top: 24px;
      }

      #nav-icon.open span:nth-child(1) {
        top: 12px;
        width: 0%;
        left: 50%;
      }

      #nav-icon.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      #nav-icon.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }

      #nav-icon.open span:nth-child(4) {
        top: 12px;
        width: 0%;
        left: 50%;
      }

    }
  }
}