
@font-face {
  font-family: 'TimesNewRomanPS-BoldMT';
  src: url('TimesNewRomanPS-BoldMT.eot?#iefix') format('embedded-opentype'),  url('TimesNewRomanPS-BoldMT.woff') format('woff'), url('TimesNewRomanPS-BoldMT.ttf')  format('truetype'), url('TimesNewRomanPS-BoldMT.svg#TimesNewRomanPS-BoldMT') format('svg');
  font-weight: normal;
  font-style: normal;
}
